# =========== #
#  Notebooks  #
# =========== #
.idea*
__pycache__*
.ipynb_checkpoints*

# Virtual Envs
venv/

# Hypothesis virtual tests
.hypothesis/

# VSCode
.vscode

# Saved models
*.onnx
*.pt
*.npz

# =========== #
#    Data     #
# =========== #
*.csv

# =========== #
#    Images   #
# =========== #
*.ppm
*.jpg
*.png
*.jpeg
*.gif
*.svg

# ============== #
#   Built Files  #
# ============== #
*.o

