# =========== #
#  Notebooks  #
# =========== #
.idea*
__pycache__*
.ipynb_checkpoints*

# =========== #
#    Data     #
# =========== #
*.txt
*.csv

# =========== #
#    Images   #
# =========== #
*.ppm
*.jpg
*.png
*.jpeg
*.gif

# ============== #
#   Built Files  #
# ============== #
*.o

